In [ ]:
import splitter
import movielens
import graphLoader

In [2]:
split = splitter.random_split(movielens.load_pandas_df("100K"))

/home/vinmike/.local/lib/python3.10/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [3]:
data1 = graphLoader.ImplicitCF(train=split[0], test=split[1])
data1.train

       userID  itemID  rating
0           0       0     3.0
1           1       1     4.0
2           2       2     4.0
3           3       3     4.0
4           4       4     3.0
...       ...     ...     ...
79994     166      24     3.0
79995     751     212     4.0
79996     121     161     3.0
79997     139     532     5.0
79998     142     156     4.0

[79999 rows x 3 columns]

In [8]:
print(data1.get_norm_adj_mat())

Already create adjacency matrix.
Already normalize adjacency matrix.
  (0, 943)	0.0314970389008522
  (0, 987)	0.012123215943574905
  (0, 1009)	0.013263952918350697
  (0, 1035)	0.017323972657322884
  (0, 1052)	0.01200038380920887
  (0, 1084)	0.010631080716848373
  (0, 1089)	0.01918824017047882
  (0, 1094)	0.012543190270662308
  (0, 1154)	0.01277023646980524
  (0, 1155)	0.01585903763771057
  (0, 1161)	0.0144942756742239
  (0, 1200)	0.0144942756742239
  (0, 1202)	0.016835875809192657
  (0, 1223)	0.013856849633157253
  (0, 1229)	0.017039954662322998
  (0, 1277)	0.015915175899863243
  (0, 1291)	0.010531567968428135
  (0, 1397)	0.018101215362548828
  (0, 1498)	0.029880713671445847
  (0, 1499)	0.016386838629841805
  (0, 1503)	0.012828949838876724
  (0, 1560)	0.015803487971425056
  (0, 1576)	0.0306569654494524
  (0, 1699)	0.024397501721978188
  (0, 1879)	0.029160592705011368
  :	:
  (2571, 118)	0.04019339382648468
  (2572, 118)	0.04019339382648468
  (2573, 300)	0.06468462198972702
  (2574, 403)	0.07715167850255966
  (2575, 165)	0.05360562726855278
  (2576, 689)	0.14586499333381653
  (2577, 415)	0.08944272249937057
  (2578, 183)	0.07198157161474228
  (2579, 118)	0.04019339382648468
  (2580, 129)	0.052777983248233795
  (2581, 165)	0.05360562726855278
  (2582, 142)	0.04419417306780815
  (2583, 346)	0.18898223340511322
  (2584, 118)	0.04019339382648468
  (2585, 188)	0.04902903363108635
  (2586, 606)	0.11322770267724991
  (2587, 128)	0.0653720423579216
  (2588, 338)	0.05842062458395958
  (2589, 316)	0.14433756470680237
  (2590, 67)	0.051164451986551285
  (2591, 340)	0.11704114824533463
  (2592, 144)	0.042409446090459824
  (2593, 129)	0.052777983248233795
  (2594, 118)	0.04019339382648468
  (2595, 316)	0.14433756470680237

In [9]:
data1.train_loader(2)

(array([556, 346]), array([ 240, 1543]), array([1454, 1460]))