In [1]:
from model.MF.MF import MatrixFactorization


from model.MF.preprocessing import ids_encoder, preprocess_mind_data, format_data


import pandas as pd
import movielens
import splitter
import mind

In [2]:
df = movielens.load_pandas_df("1M")

/home/vinmike/Documents/GitHub/LLM4Rec-Dataloader/movielens.py:156: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(

In [3]:
df

         userID itemID  rating  timestamp
0             1    661     3.0  978302109
1             1    914     3.0  978301968
2             1   3408     4.0  978300275
3             1   2355     5.0  978824291
4             1   1197     3.0  978302268
...         ...    ...     ...        ...
1000203    6040   1091     1.0  956716541
1000204    6040   1094     5.0  956704887
1000205    6040    562     5.0  956704746
1000206    6040   1096     4.0  956715648
1000207    6040   1097     4.0  956715569

[1000208 rows x 4 columns]

In [4]:
ratings = pd.DataFrame(df[["userID", "itemID", "rating"]])

In [5]:

ratings, uencoder, iencoder = ids_encoder(ratings)

m = ratings["userID"].nunique()   # total number of users
n = ratings["itemID"].nunique()   # total number of items

In [6]:
split_df = splitter.interactive_split(ratings)

In [7]:
x_train, y_train, x_test, y_test = format_data(split_df[0], split_df[1], 'movielens')

In [8]:


MF = MatrixFactorization(m, n, k=10, alpha=0.01, lamb=1.5)

history = MF.fit(x_train, y_train, epochs=10, validation_data=(x_test, y_test))

Training Matrix Factorization Model ...
k=10 	 alpha=0.01 	 lambda=1.5
epoch 1/10 - loss : 1.926 - val_loss : 1.934
epoch 2/10 - loss : 1.533 - val_loss : 1.537
epoch 3/10 - loss : 1.503 - val_loss : 1.506
epoch 4/10 - loss : 1.494 - val_loss : 1.497
epoch 5/10 - loss : 1.491 - val_loss : 1.493
epoch 6/10 - loss : 1.489 - val_loss : 1.491
epoch 7/10 - loss : 1.488 - val_loss : 1.49
epoch 8/10 - loss : 1.487 - val_loss : 1.49
epoch 9/10 - loss : 1.487 - val_loss : 1.489
epoch 10/10 - loss : 1.487 - val_loss : 1.489

In [59]:
MF.evaluate(x_test, y_test)

validation error : 1.489

1.4891639952848525

***MIND***

In [ ]:
behaviors_train_df, behaviors_dev_df, news_train_df, news_dev_df = mind.load_pandas_df('small')

In [54]:
train_df, uencoder, iencoder = preprocess_mind_data(behaviors_train_df)

In [55]:
dev_df, _, _ = preprocess_mind_data(behaviors_dev_df)

In [57]:
train_df

         userID  itemID rating
0          2246   10035      1
1          2246    5634      0
2          2246    5634      0
3          2246    5634      0
4          2246    5634      0
...         ...     ...    ...
1181715   32251    5213      1
1181716   32251    7067      0
1181717   32251    7067      0
1181718   32251    2107      0
1181719   32251   11260      0

[1181720 rows x 3 columns]

In [ ]:

m = train_df["userID"].nunique()   # total number of users
n = train_df["itemID"].nunique()   # total number of items

12915

In [ ]:
x_train, y_train, x_test, y_test = format_data(train_df, dev_df, 'mind')

In [62]:
# Instantiate and train the model
MF = MatrixFactorization(m, n, k=10, alpha=0.01, lamb=1.5)
history = MF.fit(x_train, y_train, epochs=10, validation_data=(x_test, y_test))

Training Matrix Factorization Model ...
k=10 	 alpha=0.01 	 lambda=1.5
epoch 1/10 - loss : 0.273 - val_loss : 1.541
epoch 2/10 - loss : 0.23 - val_loss : 1.179

/home/vinmike/Documents/GitHub/LLM4Rec-Dataloader/model/MF/MF.py:48: RuntimeWarning: overflow encountered in multiply
  self.Q[i] = self.Q[i] + self.alpha * (error * self.P[u] - self.lamb * self.Q[i])
/home/vinmike/Documents/GitHub/LLM4Rec-Dataloader/model/MF/MF.py:48: RuntimeWarning: invalid value encountered in subtract
  self.Q[i] = self.Q[i] + self.alpha * (error * self.P[u] - self.lamb * self.Q[i])
/home/vinmike/Documents/GitHub/LLM4Rec-Dataloader/model/MF/MF.py:47: RuntimeWarning: invalid value encountered in subtract
  self.P[u] = self.P[u] + self.alpha * (error * self.Q[i] - self.lamb * self.P[u])
/home/vinmike/Documents/GitHub/LLM4Rec-Dataloader/model/MF/MF.py:47: RuntimeWarning: overflow encountered in multiply
  self.P[u] = self.P[u] + self.alpha * (error * self.Q[i] - self.lamb * self.P[u])

epoch 3/10 - loss : nan - val_loss : nan
epoch 4/10 - loss : nan - val_loss : nan
epoch 5/10 - loss : nan - val_loss : nan
epoch 6/10 - loss : nan - val_loss : nan
epoch 7/10 - loss : nan - val_loss : nan
epoch 8/10 - loss : nan - val_loss : nan
epoch 9/10 - loss : nan - val_loss : nan
epoch 10/10 - loss : nan - val_loss : nan

In [ ]:
# Evaluate the model
MF.evaluate(x_test, y_test)